h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgb(177, 100, 227);
}
h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: rgb(249, 198, 242);
}
P {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #4b4848;
}
body {
  background-color: rgba(148, 124, 146, 0.666);
}
.paragraph-link {
  background-color: rgb(177, 100, 227);
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(249, 198, 242);
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.paragraph-link:hover {
  box-shadow: 2px 2px 10px rgb(227, 225, 228);
  transition: all 250ms ease-in-out;
}
.title {
  margin-top: 276px;
}
.firstrow {
  margin-top: 276px;
}
