h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  color: rgb(177, 100, 227);
}
h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ff96ff;
}
P {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #4b4848;
  text-align: justify;
}
img {
  margin-top: 5px;
}
body {
  background: rgb(230, 231, 225);
  background: linear-gradient(
    0deg,
    rgba(230, 231, 225, 1) 29%,
    rgba(228, 227, 222, 1) 30%
  );
}
.title p {
  text-align: center;
}
.titles p {
  text-align: center;
}
.titles h1 {
  color: #c83d50d7;
}
.notebd h2 {
  color: #f88785c5;
}
.notepg {
  background: #fdd8c4;
  text-align: center;
}
.paragraph-link {
  background-color: rgb(177, 100, 227);
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(249, 198, 242);
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.paragraph-link:hover {
  box-shadow: 2px 2px 10px rgb(227, 225, 228);
  transition: all 250ms ease-in-out;
}
.listimg:hover {
  box-shadow: 2px 2px 30px rgba(134, 50, 65, 0.418);
  transition: all 250ms ease-in-out;
  border-radius: 10px;
}
.titles {
  padding: 100px 0;
  text-align: center;
}
.title {
  padding: 270px 0;
  text-align: center;
  background-color: rgba(148, 124, 146, 0.666);
}

.row {
  margin: 10px 20px;
}
.responsive {
  width: 90%;
  max-width: 500px;
  height: auto;
}
.social-media {
  text-align: center;
}
.fa-brands {
  margin: 20px 10px;
}
.euphoria {
  border-radius: 500px;
}
.fav {
  background: rgb(245, 220, 227);
}
@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
}
